

<div *ngIf="activte_spinner" class=" load d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div id="carouselExampleIndicators" class="carousel slide mb-4 container" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" style="
    background-color: #fff;">
    <div class="carousel-item active ">
      <img class="d-flex w-100" src="../../../../assets/img/slide/banner1.png" alt="First slide">

    </div>
    <div class="carousel-item  ">
      <img class="d-flex w-100" src="../../../../assets/img/slide/banner2.png" alt="First slide">


    </div>
    <div class="carousel-item  ">
      <img class="d-flex w-100" src="../../../../assets/img/slide/banner3.png" alt="First slide">

    </div>
  </div>
  <a class="carousel-control-prev " href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon " aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon " aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>
<div class="container">
  <div class="row mb-4 czVqRW" style="margin: 6px 12px;">Conheça nossos Produtos</div>
  <div class="row mb-4">
    <div class="col-md-3" *ngFor="let p of products">
      <a (click)="openProduct(p)" style="cursor:pointer">
        <div class="card gnbZlP" style=" min-height: 134px; max-width:230px;">

          <img class="card-top mb-2" style="max-height:150px; margin:0 auto;" src="..\..\..\..\..\files\{{p.fileName}}" />

          <div class="card-body">
            <div class="card-text secondary mb-3"
                 style="font-size:14px; color:#666;
                  font-family: Helvetica,Arial, sans-serif;
                  text-align: left;
                 ">
              {{p.name | truncate : 40}}
            </div>
            <h5 class="h5 mb-4" style="font-weight:bold;"> R${{p.price}}</h5>



          </div>
        </div>
      </a>
    </div>

  </div>
  <div class="row">

    <div class="col-md-6">
      <a (click)="openProduct(p)" style="cursor:pointer">
        <img class="w-100" src="../../../../assets/img/home/home1.png" />

      </a>
    </div>
    <div class="col-md-6">
      <a (click)="openProduct(p)" style="cursor:pointer">
        <img class="w-100" src="../../../../assets/img/home/home2.png" />

      </a>
    </div>

  </div>
</div>




