<div class="text-center ct">
  <form class="form-signin">



    <img class="mb-4" src="../../../assets/img/logo/logo.png" title="Logo do Site" alt="Logo do Site Quick Buy" width="auto" height="auto">
    <label for="inputEmail" class="sr-only"> Email</label>
    <input type="email" id="inputEmail"
           name="email" placeholder="Informe o Email"

           autofocus=""
           class="form-control mb-2"
           [(ngModel)]="user.email"
           #email="ngModel"
           email
           [ngClass]="{
           'is-invalid':email.invalid && (email.dirty || email.touched),
           'is-valid':email.valid && (email.dirty || email.touched)
           }"
           required />
    <div class="invalid-feedback mb-2" *ngIf="email.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.errors.required">
        Email é de preenchimento obrigatório
      </div>
      <div *ngIf="email.errors.email">
        Email está no formato inválido
      </div>
    </div>

    <label for="inputPassword" class="sr-only">Senha</label>
    <input type="password" id="inputPassword"
           name="password" placeholder="Senha"
           class="form-control mb-2"
           [(ngModel)]="user.password"
           #password="ngModel"
           [ngClass]="{
           'is-invalid':password.invalid && (password.dirty || password.touched),
           'is-valid':password.valid && (password.dirty || password.touched)
           }"
           required />
    <div class="invalid-feedback" *ngIf="password.invalid && (password.dirty || password.touched)">
      <div *ngIf="password.errors.required">
        A senha é de preenchimento obrigatório
      </div>

    </div>


    <button class="btn btn-lg btn-primary btn-block mb-2" type="submit" (click)="login()" [disabled]="activate_spinner">

      <div *ngIf="!activate_spinner">Entrar </div>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="activate_spinner"></span>
      <span *ngIf="activate_spinner">Loading...</span>

    </button>
    <div>Novo por aqui ?<a [routerLink]='["/new-user"]'>Cadastre-se</a></div>

    <div class="alert alert-danger mb-2" *ngIf="message">
      {{message}}
    </div>

  </form>
</div>
